.textStyle {
    background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* code for scroll bar */
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.addBgImg{
    background-image:linear-gradient(rgba(5, 28, 38, 0.5), rgba(10,15,24, 0.5)), url("../media/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}